[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "==2.1.11"
coverage = "==5.5"
flake8 = "==3.9.0"
flake8-formatter-abspath = "==1.0.1"
flake8-black = "== 0.3.3"
flake8-isort = "== 4.1.1"
black = "== 22.6.0"
isort = "== 5.10.1"
docker = '==5.0.0'
moto = {extras = ["server","s3","sqs","lambda","dynamodb","cloudformation", "sns", "batch", "ec2", "rds"],version = "~=4.0.0"}
pytest = "==6.2.4"
pytest-cov = "==2.11.1"
pytest-asyncio = "==0.14.0"
pytest-xdist = "==2.2.1"
s3fs = "==2023.3.0"

# this is needed for test_patches
dill = "==0.3.3"

# this is needed when running setup.py check -rms
Pygments = "*"

[packages]
aiohttp = "==3.7.4.post0"
aiobotocore = {editable = true,extras = ["awscli", "boto3"],path = "."}
