-e .
Flask==0.12.2
coverage==4.4.2
flake8==3.5.0
moto==0.4.31
pytest-cov==2.5.1
pytest==3.2.4
sphinx==1.6.5
aiohttp==2.3.3
botocore==1.7.43
multidict==3.3.2
wrapt==1.10.11
dill==0.2.7.1
packaging==16.8
