coverage==7.2.7
docker~=7.1
moto[server,s3,sqs,awslambda,dynamodb,cloudformation,sns,batch,ec2,rds]~=4.2.9
pre-commit~=3.5.0
pytest==8.1.1
pytest-cov==5.0.0
pytest-asyncio~=0.23.8
pytest-xdist==3.5.0

# this is needed for test_patches
dill~=0.3.3

# this is needed for test_version
tomli; python_version < "3.11"

aiohttp${AIOHTTP_VERSION}

-e .[awscli,boto3]
