-e .
coverage==4.5.1
flake8==3.6.0

# we specify flask directly and don't use moto[server] as we want to fix the flask version
Flask==1.0.2

# until release with https://github.com/spulec/moto/pull/1611 is available
git+git://github.com/spulec/moto.git@80929292584ee78affc07643d16fae6bb31b4014#egg=moto

pytest-cov==2.6.0
pytest==3.9.3
pytest-asyncio==0.9.0
sphinx==1.8.1
yarl==1.2.6
aiohttp==3.4.4
botocore==1.12.33
boto3==1.9.33
multidict==4.4.2
wrapt==1.10.11
dill==0.2.8.2
