-e .
coverage==4.5.1
flake8==3.5.0

# we specify flask directly and don't use moto[server] as we want to fix the flask version
Flask==1.0.2

# until release with https://github.com/spulec/moto/pull/1611 is available
git+git://github.com/spulec/moto.git@80929292584ee78affc07643d16fae6bb31b4014#egg=moto

pytest-cov==2.5.1
pytest==3.7.1
pytest-asyncio==0.9.0
sphinx==1.7.6
yarl==1.2.6
aiohttp==3.3.2
botocore==1.10.75
boto3==1.7.58
multidict==4.3.0
wrapt==1.10.11
dill==0.2.8.2
