name: CI

on:
  push:
    branches:
      - 'master'
    tags: [ '[0-9]+.[0-9]+.[0-9]+' ]
  pull_request:
    branches:
      - 'master'
      - '[0-9].[0-9]+.[0-9]+'

jobs:
  test:
    name: Test ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
      fail-fast: true
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: true
    - name: Setup Python ${{ matrix.pyver }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Download dependencies
      run: |
        python -c "import sys; print(f'Python version: {sys.version}')"
        python -m pip install -U poetry setuptools pip codecov wheel
        poetry install --with=dev --extras boto3
        poetry check
    - name: Run flake
      if: matrix.python-version != '3.7'
      run: make flake
    - name: Run unittests
      env:
        COLOR: 'yes'
      run: make mototest
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1.5.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
        files: ./coverage.xml
        flags: unittests # optional
        name: codecov-umbrella # optional
        fail_ci_if_error: true # optional (default = false)
        path_to_write_report: ./codecov_report.txt
        verbose: true # optional (default = false)


  pre-deploy:
    name: Pre-Deploy
    runs-on: ubuntu-latest
    needs: test
    # Run only on pushing a tag
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    steps:
      - name: Dummy
        run: |
            echo "Predeploy step"

  build-tarball:
    name: Tarball
    runs-on: ubuntu-latest
    needs: pre-deploy
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: true
    - name: Setup Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: 3.8
    - name: Make sdist
      run:
        python -m pip install -U setuptools pip twine poetry
        poetry check
        poetry build
        poetry run twine check dist/*
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: dist
        path: dist

  deploy:
    name: Deploy
    needs: [build-tarball]
    runs-on: ubuntu-latest
    steps:
    - name: Setup Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: 3.8
    - name: Install twine
      run: |
        python -m pip install -U setuptools pip twine poetry
    - name: Download dists
      uses: actions/download-artifact@v2
      with:
        name: dist
        path: dist
    - name: PyPI upload
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        python -m pip install -U setuptools pip twine poetry
        poetry check
        poetry build
        poetry run twine check dist/*
        poetry publish
