name: CI

on:
  push:
    branches:
      - 'master'
    tags: [ '[0-9]+.[0-9]+.[0-9]+' ]
  pull_request:
    branches:
      - 'master'
      - '[0-9].[0-9]+.[0-9]+'

jobs:

  test:
    name: Test
    strategy:
      matrix:
        pyver: [3.8]
        os: [ubuntu]
      fail-fast: true
    runs-on: ${{ matrix.os }}-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Setup Python ${{ matrix.pyver }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.pyver }}
    - name: Run unittests
      env:
        COLOR: 'yes'
      run: |
        pip install -U setuptools pip
        pip install -U pipenv codecov
        pipenv lock
        pipenv sync --dev
        pipenv check || true
        pipenv graph
        make flake mototest
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1.5.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
        files: ./coverage.xml
        flags: unittests # optional
        name: codecov-umbrella # optional
        fail_ci_if_error: true # optional (default = false)
        path_to_write_report: ./codecov_report.txt
        verbose: true # optional (default = false)


  pre-deploy:
    name: Pre-Deploy
    runs-on: ubuntu-latest
    needs: test
    # Run only on pushing a tag
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    steps:
      - name: Dummy
        run: |
            echo "Predeploy step"

  build-tarball:
    name: Tarball
    runs-on: ubuntu-latest
    needs: pre-deploy
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Setup Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Make sdist
      run:
        python setup.py sdist
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: dist
        path: dist

  deploy:
    name: Deploy
    needs: [build-tarball]
    runs-on: ubuntu-latest
    steps:
    - name: Setup Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install twine
      run: |
        python -m pip install twine
    - name: Download dists
      uses: actions/download-artifact@v2
      with:
        name: dist
        path: dist
    - name: PyPI upload
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        twine upload dist/*
